<form [formGroup]="form">
  <div class="mb-3">
    <label class="form-label">{{ labels.form.labelNome }}</label>
    <input type="text" class="form-control" formControlName="item" />
    <div *ngIf="form.controls['item'].invalid && form.controls['item'].touched" class="text-danger small">
      {{ labels?.form?.validation?.required || 'Campo obrigatório' }}
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">{{ labels.form.labelDescricao }}</label>
    <input type="text" class="form-control" formControlName="description" />
  </div>

  <div class="mb-3">
    <label class="form-label">{{ labels.form.labelPreco }}</label>
    <input type="text" class="form-control" formControlName="price" />
    <div *ngIf="form.controls['price'].invalid && form.controls['price'].touched" class="text-danger small">
      {{ labels?.form?.validation?.required || 'Campo obrigatório' }}
    </div>
  </div>

  <button type="button" (click)="saveProduct()" class="btn btn-primary">{{ labels.form.botaoSalvar }}</button>
</form>